Map()  fxn 
take input as list or any other iterable and returns a map object (an iterator).

In [ ]:
# map syntax        -             map(fxn,iterables)

numbers=[1,2,3]

def square(number):
    return number*number

list(map(square,numbers))

[1, 4, 9]

In [ ]:
#map with lambda

numbers=[1,2,3]
    
list(map(lambda x:x**2,numbers))

[1, 4, 9]

In [5]:
 ### Map with multiple  iterables 
 numbers1=[1,2,3]
 numbers2=[4,5,6]

 ans=list(map(lambda x,y:x+y,numbers1,numbers2))
 print(ans)

[5, 7, 9]

In [6]:
## Map to convrt a list of strings to integers
string = ['1','2','3','4']
integer = list(map(int,string))

print(integer)

[1, 2, 3, 4]

In [7]:
words=['work','like','hell']

uppr = list(map(str.upper,words))
print(uppr)

['WORK', 'LIKE', 'HELL']

In [9]:
def getname(person):
    return person['name']

people = [
    {'name':"Trish",'age':54},
    {'name':'Jack','age':4}
]

list(map(getname,people))

['Trish', 'Jack']