# SQL  and SQLite
sql is a standard language for managing and manipulating relational databases.

SQLite  is a self-contained , serverless , and zero-configuration database engine that is widely used for embedded database systems. 
It is file based db in it.

In [1]:
import sqlite3

In [2]:
## Connect to an SQlite database 
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()         # cursor used to iterate over db

In [4]:
## Create a table 
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               
               )
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
# Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Tris',43,'Data scientist')

''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('cros',25,'Engineering')

''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('Charles',35,'Finance')

''')

## commit the changes
connection.commit()

In [7]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Tris', 43, 'Data scientist')
(2, 'cros', 25, 'Engineering')
(3, 'Charles', 35, 'Finance')

In [8]:
## Update the data in the table
cursor.execute('''
UPDATE employees
               Set age=34
               where name="Tris"
''')

connection.commit()

In [9]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Tris', 34, 'Data scientist')
(2, 'cros', 25, 'Engineering')
(3, 'Charles', 35, 'Finance')

In [10]:
## Delete the data from the table
cursor.execute('''
Delete from employees 
               where name='cros'
''')
connection.commit()

In [11]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Tris', 34, 'Data scientist')
(3, 'Charles', 35, 'Finance')

In [14]:
## Working with Sales Data
# Connect to an sqlite database

connection = sqlite3.connect('sales_data.db')
cursor=connection.cursor()

# Create a table for sales data

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

## Insert data into the sales table
sales_data=[
    ('2026-01-01','Product1',100,'North'),
    ('2026-01-02','Product2',200,'South'),
    ('2026-01-03','Product1',150,'East'),
    ('2026-01-04','Product3',250,'West'),
    ('2026-01-05','Product2',300,'North')
]

## insertng many 
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [15]:
## Query the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, '2026-01-01', 'Product1', 100, 'North')
(2, '2026-01-02', 'Product2', 200, 'South')
(3, '2026-01-03', 'Product1', 150, 'East')
(4, '2026-01-04', 'Product3', 250, 'West')
(5, '2026-01-05', 'Product2', 300, 'North')

In [16]:
## Close the connection so not access to any db
connection.close()

In [17]:
## this will throw error as u close the connection
## Query the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.