Sets use to store collection of unique items. Don't allow duplicate items . perform maths set operations union , intersection .. operations. created with {}.

In [1]:
## creating a set 
my_set={1,2,3,4,5}
print(my_set)  
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [1]:
emptyset= set()
print(type(emptyset))

<class 'set'>

In [4]:
#list to set typecast
myset=set([1,2,3,4,5,6])
print(myset)

{1, 2, 3, 4, 5, 6}

In [5]:
#removing duplicasy
myset=set([1,2,6,3,4,5,6])
print(myset)

{1, 2, 3, 4, 5, 6}

In [6]:
## adding and removing elements 
myset.add(7)
print(myset)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
#Remove the elements from a set 
myset.remove(3)
print(myset)

{1, 2, 4, 5, 6, 7}

In [12]:
# discard removes if that elemnt present and dont give error if not present
myset.discard(34)
print(myset)

{5, 6, 7}

In [11]:
#pop method
removedelement = myset.pop()
print(removedelement)
print(myset)

4
{5, 6, 7}

In [13]:
#clear all elements
myset.clear()
print(myset)

set()

In [15]:
#set membership test
myset={1,2,3,4,5}
print(3 in myset)
print(10 in myset)

True
False

In [18]:
# mathematical operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#union
union= set1.union(set2)
print(union)

#intersection
intersection=set1.intersection(set2)
print(intersection)

set1.intersection_update(set2)              #it updates set1 by intersection
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [19]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#difference
print(set1.difference(set2))

{1, 2, 3}

In [20]:
#Symmetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [23]:
#Set methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))            #checks 1 is subset of 2 or not
print(set1.issuperset(set2))

False
True

In [36]:
last=[1,2,2,3,4,4,5]

set(last)

{1, 2, 3, 4, 5}

In [37]:
# Counting unique words in text 

text="IN this it is what it is in sets"
words=text.split()                        # splits into words

# convrt list of words to set to get unique
unique_words= set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'it', 'what', 'in', 'this', 'is', 'IN'}
7