Tuples are ordered collection of items that are immutable .


List vs. Tuple: Key Differences
| Feature | List [] | Tuple () | 
| Mutability | Mutable (can change) | Immutable (can’t) | 
| Performance | Slightly slower | Slightly faster | 
| Use cases | Dynamic data | Fixed, read-only data | 
| Methods | Lots of built-ins | Fewer built-ins | 

in short:
- Use [] when you need a flexible, changeable group of items.
- Use () when you want an unchangeable, fixed set—or just need to group things logically.

## confusion
we use tuple([])   this two braces when tuple constructor is used (in short converting list[] to tuple)
otherwise without tuple constructor u can create tuple like
num=(1,2,3,4)
or with tuple constructor  like   num=tuple([1,2,3])

In [4]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [11]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [12]:
mixtuple =(1,"Hell",3.14,True)
print(mixtuple)

(1, 'Hell', 3.14, True)

In [13]:
#Accesing tuple elements
numbers
numbers[0]

1

In [14]:
# slicing like list 
numbers[0:4]

(1, 2, 3, 4)

In [17]:
## Tuple Operation
concat = mixtuple + numbers
print(concat)

(1, 'Hell', 3.14, True, 1, 2, 3, 4, 5, 6)

In [18]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [21]:
# immutable nature of tuple
lst =[1,2,3,4,5]
print(lst)
lst[1]="dk"
print(lst)

# numbers[1]="kalr"   #this will give err coz tuple is immutable

[1, 2, 3, 4, 5]
[1, 'dk', 3, 4, 5]

In [ ]:
## Tuple method
numbers

print(numbers.count(1))
print(numbers.index(3))      #return first index of occurence of value 3

(1, 2, 3, 4, 5, 6)

In [23]:
#Pack 
packtuple= 1,"hell",3.14
print(packtuple)

#unpack
a,b,c=packtuple
print(a)
print(b)
print(c)

(1, 'hell', 3.14)
1
hell
3.14

In [24]:
#unpack with *

first,*middle,last=numbers
print(first)
print(*middle)
print(last)

1
2 3 4 5
6

In [ ]:
#Nested List

lst =[[1,2,3,4],[6,7,8,9],[1,"hell",3.14,"c"]]
lst[0][2] 
lst[0][0:3]

3

In [27]:
nestedtuple=((1,2,3),("a","b","c"),(True,False))

#access the elements inside a tuple 
print(nestedtuple[0])
print(nestedtuple[1][2])

(1, 2, 3)
c

In [28]:
#iterating over nested tuple
for subtuple in nestedtuple:
    for item in subtuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False