## Handling Imbalanced  Dataset
 - Up Sampling
 - Down Sampling

eg- u have 100 lemon 10 orange so this is imbalance so for making them equivalent to deal we up sampling (increase the minor object here orange) ya Down sampling (decrease the Major wala)

In [2]:
import numpy as np
import pandas as pd

# set the random seed for responsibilty
np.random.seed(123)

# create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples * class_0_ratio)
n_class_1 = n_samples -n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [6]:
## Create my dataframe with imbalanced dataset
class_0= pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0]* n_class_0
})
class_1= pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target': [1]* n_class_1
})

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -0.300232   0.667532       0
1  -0.632261   0.100458       0
2  -0.204317  -0.012610       0
3   0.213696   0.219907       0
4   1.033878   0.813623       0

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [10]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [11]:
from sklearn.utils import resample
df_minority_unsampled=resample(df_minority,replace=True,
                               n_samples=len(df_majority),
                               random_state=42
                               )

In [12]:
df_minority_unsampled.shape

(900, 3)

In [13]:
df_minority_unsampled.head()

     feature_1  feature_2  target
951   1.168666   2.305451       1
992   1.885705   2.954339       1
914   4.417832   3.790856       1
971   3.666319   1.731246       1
960   0.990663   1.305364       1

In [15]:
df_unsampled= pd.concat([df_majority,df_minority_unsampled])

In [16]:
df_unsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [ ]:
## Down sampling