### Data Encoding
- 1. Nominal/OHE Encoding
- 2. Label and Ordinary Encoding
- 3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding
One hot encoding, also known as nominal encoding is a technique used to represent categorical data as numerical data, which is more unique category . For example, if we have a categorical variable "color" iwth three possible values (red,green,blue). we can represnt it one hot encoding as follows.
- 1. Red: [1,0,0]
- 2. Green: [0,1,0]
- 3. Blue: [0,0,1]

Data encoding is to convert the categorical thing to numerical value as model understands numerical things not human lang

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
# Create a simple data frame 
df= pd.DataFrame({
    'color': ['red','blue','green','green','red','blue']
})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
## Create an instance of Onehotencoder
encoder=OneHotEncoder()

In [6]:
## perform fit and transform
encoded=encoder.fit_transform(df[['color']]).toarray()    # jo below array hai usko hei sparse matrix bolte hai

In [7]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red